* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Red: hsl(4, 100%, 67%);
    --Blue-800: hsl(234, 29%, 20%);
    --Blue-700: hsl(235, 18%, 26%);
    --Grey: hsl(0, 0%, 58%);
    --White: hsl(0, 0%, 100%);
}

main {
    color: var(--Blue-800);
    font-family: 'Roboto', 'sans-serif';
    /* display: flex; */
    /* min-width: 375px; */
    margin: 0 auto;
    border: 1px solid black;
}

section {
    width: 100%;
    overflow: hidden;
}

section .header-img {
    background-image: url(./assets/images/illustration-sign-up-mobile.svg);
    background-repeat: no-repeat;
    /* background-position: 0 -40px; */
    /* background-position: 0 -10px; */
    background-size: contain;
    height: 283px;
    /* width: 375px; */
    /* border: 1px solid black; */

}

#main-area {
    padding: 0 30px;
    background-color: var(--White);
    /* border: 1px solid black; */
}

/* section .header-img{
    background-image: url(./assets/images/illustration-sign-up-tablet.svg);
    background-repeat: no-repeat;
    background-position: 0 -10px;
} */

section .text-area h1 {
    margin-top: 19px;
}

section .text-area p {
    margin: 16px 0;
    font-size: 17px;
}

section .text-area ul {
    list-style: url(./assets/images/icon-list.svg);
    padding-left: 27px;
    /* font-size: 17px; */
    margin-top: 16px;
    /* border: 1px solid black; */
}

section .text-area ul li {
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 20px;
}

section .input-area p {
    font-size: 10px;
    margin-bottom: 6px;
    margin-top: 30px;
    font-weight: bold;
}

section .input-area input {
    width: 100%;
    /* padding: 12px; */
    height: 50px;
    border-radius: 5px;
    border: 1px solid var(--Grey);
    text-indent: 20px;
    transition: all 0.3s ease;
    /* transition makes color changes smooth instead of instant */
    /* WHY? Better user experience */
}

section .input-area input:focus {
    outline: none;
    border-color: var(--Blue-800);
    /* When user clicks in the input, show a blue border */
}

/* Error message styling */
#errorMessage {
    color: var(--Red);
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: none;
    /* display: none hides it by default */
    /* JavaScript will change this to 'block' when there's an error */
}

section .input-area button {
    width: 100%;
    /* padding: 12px; */
    height: 50px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 20px;
    background-color: var(--Blue-800);
    color: var(--White);
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

section .input-area button:hover {
    background-color: var(--Blue-700);
    cursor: pointer;
}




/* -----------------------Tablet version---------------------------- */

@media (min-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        padding: 50px 100px;
        background-color: var(--Blue-800);
    }

    main {
        display: flex;
        flex-direction: row-reverse;
        /* row-gap: 20px; */
        padding: 20px;
        padding-right: 15px;
        background-color: var(--White);
        border-radius: 30px;
        /* width: 500px; */
        width: fit-content;
    }

    section {
        width: auto;
    }

    section .header-img {
        background-image: url(./assets/images/illustration-sign-up-desktop.svg);
        /* flex-basis: 345px; */
        /* height: 503px; */
        width: 400px;
        height: 591px;
        width: 336px;
        height: 496px;
        /* border: 1px solid pink; */
        margin: 0;
        padding-right: 0;
        margin-left: 50px;
    }

    #main-area {
        width: 400px;
        /* width: 699px;
        width: 790px; */
        padding: 0;
        /* padding-top: 0; */
        padding-left: 10px;
        /* margin-right: 20px; */
        height: fit-content;
        align-self: center;
        /* border: 1px solid green; */

    }

}

/* ===== SUCCESS MESSAGE STYLING ===== */

/* Container for success message */
.success-message {
    position: fixed;
    /* fixed means it stays in place even when scrolling */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent dark background (like a modal overlay) */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* WHY position fixed? Creates a modal dialog effect */
}

.success-content {
    background-color: var(--White);
    border-radius: 30px;
    padding: 40px;
    max-width: 454px;
    text-align: center;
    /* WHY max-width? Makes sure it doesn't stretch too wide on big screens */
}

.success-message img {
    width: 64px;
    height: 64px;
    margin-bottom: 24px;
}

.success-message h2 {
    font-size: 32px;
    margin-bottom: 16px;
    color: var(--Blue-800);
}

.success-message p {
    color: var(--Blue-800);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.success-message p span {
    font-weight: bold;
    /* The email address will be bold so it stands out */
}

.success-message button {
    width: 100%;
    height: 50px;
    background-color: var(--Blue-800);
    color: var(--White);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.success-message button:hover {
    background-color: var(--Blue-700);
}

/* This class is used to hide elements with JavaScript */
.hidden {
    display: none !important;
    /* !important forces this to override other display rules */
}